<h1>Welcome to Bonsai</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aliquid, pariatur perferendis dolorum quibusdam quos molestias voluptas sit animi, eos odit aperiam unde ratione facere, facilis corporis est repudiandae nihil.</p>

<%= link_to "New User", new_user_path %>
<%= link_to "Login", login_path %>
